<!DOCTYPE html>
<html>
<head>
    <title>nmPinBoard</title>
    <script type="text/javascript" src="assets/javascripts/libs/jQuery_1.11.0_min.js"></script>
    <script type="text/javascript" src="assets/javascripts/libs/underscore_1.5.0_min.js"></script>
    <script type="text/javascript" src="assets/javascripts/libs/backbone_1.1.0_min.js"></script>
    <script type="text/javascript" src="assets/javascripts/libs/backbone_validation.js"></script>
    <script type="text/javascript" src="assets/javascripts/libs/backbone_local_storage.js"></script>
    <script type="text/javascript" src="assets/javascripts/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/libs/jquery-ui-1.10.4.custom.min.js"></script>
    <!-- Backbone Models -->
    <script type="text/javascript" src="assets/javascripts/nmPinBoard.js"></script>
    <script type="text/javascript" src="assets/javascripts/backbone/models/PinBoard.js"></script>
    <script type="text/javascript" src="assets/javascripts/backbone/models/PinnedElement.js"></script>
    <script type="text/javascript" src="assets/javascripts/backbone/models/PinnedElements.js"></script>
    <script type="text/javascript" src="assets/javascripts/backbone/models/ElementCustomization.js"></script>
    <!-- Backbone Views -->
    <script type="text/javascript" src="assets/javascripts/backbone/views/PinBoardView.js"></script>
    <script type="text/javascript" src="assets/javascripts/backbone/views/PinnedElementView.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var p = new nmPinBoard.PinBoardView({model: new nmPinBoard.PinBoard()});
        });

    </script>


    <!-- Style -->
    <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/nmPinboard.css">
</head>
<body>
<div class="page-header">
    <h1>NM Pin Board
        <small></small>
    </h1>
</div>
<!-- START OF PIN BOARD CODE HERE-->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div>
            <ul class="sidebar-nav">
                <li>
                    <a href="#add-element" title="Add an element" id="add_element" ><span class="glyphicon glyphicon-plus"></span>Add element</a>
                </li>
            </ul>
        </div>
        <div id="trash">

        </div>
    </div>

    <div class="panel panel-default" id="pinboard">
        <div class="panel-heading" id="pinboard_header"></div>
        <div class="panel-body" id="pinboard_body">
        </div>
    </div>
</div>
<!-- END OF PIN BOARD-->
<!-- START TEMPLATES HERE -->
<script type="text/template" id="pinboard_header_template">
    <h4 class="inline" id="pinboard_title" title="Edit title"><%= title %></h4>
    <p class="description" id="pinboard_description" title="Edit description"><%= description %> </p>
</script>
<script type="text/template" id="pinboard_body_template">

</script>
<script type="text/template" id="pinboard_element_template">
    <div class="pinboard_element draggable">
        <%= title %>
        <%= content %>
    </div>
</script>
<!-- END TEMPLATES -->

</body>
</html>
